<%Pirate.all.each do |pirate|%>
<div class="Pirate">
<p>name: <%=pirate.name%></p>
<p>weight: <%=pirate.weight%></p>
<p>height: <%=pirate.height%></p>
<%end%>
</div>

<%Ship.all.each do |ship|%>
<div class="Ship">
<p>name: <%=ship.name%></p>
<p>type: <%=ship.type%></p>
<p>booty: <%=ship.booty%></p>
<%end%>
</div>
