<h1>Pirate</h1>

<p>Name:<%= @pirate_name %></p>
<p>Weight:<%= @pirate_weight %></p>
<p>Height:<%= @pirate_height %></p>

<h2>Ship 1</h2>

<p>Name:<%= @ship_1_name %></p>
<p>Type:<%= @ship_1_type %></p>
<p>Booty:<%= @ship_1_booty %></p>

<h2>Ship 2</h2>

<p>Name:<%= @ship_2_name %></p>
<p>Type:<%= @ship_2_type %></p>
<p>Booty:<%= @ship_2_booty %></p>