<h1>Pirate</h1>

<!-- <div class="pirate"> -->
<h3>Pirate name: <%= @pirate.name %></h3>
<h4>Pirate weight: <%= @pirate.weight %></h4>
<h4>Pirate height: <%= @pirate.height %></h4>
<!-- </div> -->


<h1> Ships </h1>
<%@ships.each do |ship|%>
  <p> Name: <%=ship.name%></p> <br>
  <p> Type: <%=ship.type%></p><br>
  <p> Booty: <%=ship.booty%></p><br>
  <br>
  <%end%>
